<h2 mat-dialog-title>{{data.id ? 'Редактировать заметку' : 'Новая заметка'}}</h2>
<mat-dialog-content>
  <div style="display: flex; flex-direction: column; gap: 1rem; padding-top: 10px;">
    <mat-form-field appearance="outline">
      <mat-label>Заголовок</mat-label>
      <input matInput [(ngModel)]="data.title" placeholder="Введите название">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Содержимое</mat-label>
      <textarea matInput [(ngModel)]="data.content" rows="5" placeholder="Текст заметки..."></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Отмена</button>
  <button mat-raised-button color="primary" [disabled]="!data.title" (click)="save()">Сохранить</button>
</mat-dialog-actions>
